*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
	--color-color-white: #ffffff;
	--color-bg-grey: #f6f6f6;
	--color-bg-black: #23272a;
	--color-blue-word: #7289da;
}

body{
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--color-bg-grey)
}

.debug{
    border: solid 3px black;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 5px;
}
.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
a, a:hover{
    text-decoration: none;
}
a{
    color:var(--color-color-white);
    padding: 7px;
}
ul{
    list-style: none;
}

/*header*/
header{
    background-image: url(../img/jumbo.png);
    display: block;
    background-size: cover;
    background-repeat: no repeat;
    height: 400px;
}
.false-button{
    border: solid black 2px;
    border-radius: 20px;
    background-color: var(--color-color-white);
    color: black;
}
.hero{
    color: white;
    text-align: center;
  align-content: space-evenly;
  margin: 0 auto;
  width: 300px;
 

   
}
/* main */
main section{
    padding: 60px 0;
}

.bg-grey{
    background-color: grey;
}

/* footer */
footer{
    background-color: var(--color-bg-black);
    color: var(--color-color-white);
}