*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
	--color-color-white: #ffffff;
	--color-bg-grey: #f6f6f6;
	--color-bg-black: #23272a;
	--color-blue-word: #7289da;
}

body{
    font-family: 'Noto Sans', sans-serif;
    background-color: orange;
    max-width: 1200px;
}

.debug{
    border: solid 3px black;
}



