*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
	--color-color-white: #ffffff;
	--color-bg-grey: #f6f6f6;
	--color-bg-black: #23272a;
	--color-blue-word: #7289da;
}

body{
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--color-bg-grey)
}

.debug{
    border: solid 3px black;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 5px;
  
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
}
.justify-between{
    justify-content: space-between;

}
.align-center{
    align-items: center;
    align-content: center;
}

a:hover{
    text-decoration: underline;
}
a{
    color:var(--color-color-white);
    padding: 7px;
    display: inline-block;
}
ul{
    list-style: none;
}
h1{
    font-size: 3em;
}

/*header*/
header{
    display: block;
    color: var(--color-color-white);
}
#hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
   
}
.false-button{
    border: solid black 2px;
    border-radius: 20px;
    background-color: var(--color-color-white);
    color: var(--color-bg-black);
    padding: 10px;
}
.hero-content{
    min-height:400px;

}

.contenitore{
     display: flex;
    justify-content: center;
     /* align-items: center; */
     align-content: space-between;

}
.justify-center{
    justify-content: center;
}

#b-button{
    background-color: var(--color-bg-black);
    color: var(--color-color-white);

}
/* main */
section{
    padding: 20px 0;
}
.center{
    display: flex;
    justify-content: center;
    max-width: 800px;
    color: var(--color-color-white);
}

p .section-text{
    line-height: 1.8em;
    font-size: 1em;
    padding:15px 0;
}
.bg-grey{
    background-color: var(--color-bg-grey);
}

.section-text{
    width: 40%;
}


#last-main{
    text-align: center;
}


/* footer */
footer{
    background-color: var(--color-bg-black);
    color: var(--color-color-white);
}

.list-title{
    color: var(--color-blue-word)
}
.reg{
    background-color: var(--color-blue-word);
    color: var(--color-color-white);
    border-radius: 15px;
   
}
#ita{
    height: 20px;
    width: 20px;
}
.test-w{
    width: 100%;
}
.d-flex-column{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    margin: auto;
}
.d-flex-column-li{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
   margin: 20px 100px;

}
.d-flex-test{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
   
}
.footer-bottom{
    border-top: solid 3px;
}

.foot{
    justify-content: space-between;
    width: 100%;
    display: flex;
    border-top: solid 4px;
}
h3{
    color: var(--color-blue-word);
}